{% extends 'UserBundle:Layout:base.html.twig' %}

{% block title %}登录{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/supersized.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.8.2.min.js') }}" ></script>
    <script src="{{ asset('js/supersized.3.2.7.min.js') }}" ></script>
    <script src="{{ asset('js/supersized-init.js') }}" ></script>
    <script src="{{ asset('js/scripts.js') }}" ></script>
{% endblock %}

{% block body %}
    <div class="page-container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}