{% extends 'UserBundle:Layout:index.html.twig' %}

{% block title %}
    注册
{% endblock %}

{% block content %}
    <h1>平台注册</h1>
    <form id="rform" action="{{ path('user_register') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input id="username" type="text" name="username" placeholder="请输入您的用户名！">
        <input id="password" type="password" name="password" placeholder="请输入您的用户密码！">
        <input id="nickname" type="text" name="nickname" placeholder="请输入您的昵称！">
        <input id="email" type="text" name="email" placeholder="请输入您的电子邮箱！">
        <input id="inviteno" type="text" name="inviteno" placeholder="请输入您的邀请码(选填)！" value="">
        <input id="form-data" type="hidden" name="form-data" value="">
        <button onclick="return onSub()">注册</button>
        <div class="error"><span>+</span></div>
    </form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('/js/crypto-js/aes.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/crypto-js/md5.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/crypto-js/pad-zeropadding.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/md5.js') }}"></script>

<script>
    function onSub()
    {
        var username = $("#username").val();
        var password = $("#password").val();
        var nickname = $("#nickname").val();
        var email = $("#email").val();
        var inviteno = $("#inviteno").val();

        if(username == '') {
            $(".error").fadeOut('fast', function(){
                $(".error").css('top', '27px');
            });
            $(".error").fadeIn('fast', function(){
                $("#username").focus();
            });
            return false;
        }

        if(password == '') {
            $(".error").fadeOut('fast', function(){
                $(".error").css('top', '96px');
            });
            $(".error").fadeIn('fast', function(){
                $("#password").focus();
            });
            return false;
        }

        if(nickname == '') {
            $(".error").fadeOut('fast', function(){
                $(".error").css('top', '165px');
            });
            $(".error").fadeIn('fast', function(){
                $("#nickname").focus();
            });
            return false;
        }

        if(email == '') {
            $(".error").fadeOut('fast', function(){
                $(".error").css('top', '234px');
            });
            $(".error").fadeIn('fast', function(){
                $("#email").focus();
            });
            return false;
        }

        $('#username,#password,#nickname,#email').keyup(function(){
            $(".error").fadeOut('fast');
        });

        password = $.md5(password);
        var str = "username="+username+"&password="+password+"&nickname="+nickname+"&email="+email+"&no="+inviteno;
        var new_str = navgeek_encode(str);
        $("#form-data").val(new_str);
    }
</script>
{% endblock %}

