<aside class="main-sidebar">
  <section class="sidebar">
      <div class="user-panel">
          <div class="pull-left image">
            <img src="{{ asset('/img/admin/user2-160x160.jpg') }}" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p>{{ info.nickname|default('') }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
          </div>
      </div>

      <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
            <span class="input-group-btn">
              <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
      </form>

      {#class="active"#}
      <ul class="sidebar-menu">
          {% if info.menu is not empty %}
            {% for id,menus in info.menu %}
                {% for key,value in menus %}
                    <li class="treeview">
                        <a href="{{ asset('') }}{{ value }}">
                            <i class='fa fa-link'></i>
                            <span>{{ key }}</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        {% if id in [isParent] %}
                            <ul class="treeview-menu">
                                {% for name,url in info.parent_menu[id] %}
                                    <li>
                                        <a href="{{ asset('') }}{{ url }}">
                                            <i class='fa fa-link'></i>{{ name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
          {% endif %}
      </ul>
  </section>
</aside>